body {
    background-color: black;
}

.funny {
    font-size: 25px;
    color: aquamarine;
}

.funny > form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    padding: 20px;
}